---
interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;
---

<div
  class="p-2 rounded-md bg-slate-600 shadow-md border-slate-300 flex justify-between items-center mt-2"
>
  <span class="text-sm">{name}</span>
  <img
    src=`${image}`
    alt="profile"
    class="w-8 h-8 rounded-full"
  />
</div>
