---

---

<div
  class="md:absolute lg:relative md:top-[2rem] lg:top-1 md:inset-0 lg:left-0 p-4"
>
  <div
    class="mx-auto max-w-lg md:bg-gray-100 lg:p-2 md:p-8 lg:bg-transparent md:rounded-lg"
  >
    <h1 class="text-5xl font-bold sm:text-3xl text-center">
      Get started today!
    </h1>

    <p class="mt-4 text-gray-500 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla
      eaque error neque ipsa culpa autem, at itaque nostrum!
    </p>

    <form action="#" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label for="email" class="text-gray-500">Name</label>

        <div class="relative py-2">
          <input
            type="text"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter your name"
          />
        </div>
      </div>
      <div>
        <label for="email" class="text-gray-500">Email</label>

        <div class="relative py-2">
          <input
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter email"
          />
        </div>
      </div>

      <div>
        <label for="password" class="text-gray-500">Password</label>
        <div class="relative py-2">
          <input
            type="password"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter password"
          />
        </div>
      </div>

      <div class="flex items-center justify-between py-2">
        <button
          type="submit"
          class="w-full inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
        >
          Sign up
        </button>
      </div>

      <div class="text-center text-sm text-gray-500">
        <a class="underline" href="#">Sign in</a>
      </div>
    </form>
  </div>
</div>
